
/*  Notes:  */
/*  - Positions order, Top Right Bottom Left
    - &ldquo; [...] &rdquo; = duoble quotes, &rsquo; = single quote
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


body{
    /* style */
    background: #ffff;

    /* formatting */
    font-family: 'Comfortaa', cursive;

    /* box-model */
    margin: 0px;

    /* positioning*/
    z-index: 1;

    /* sizes */
    width: auto;
    height: auto;
}

#cont{
    /* animation */
    transition: 0.5s;
}

/* Head content */
.head{
    /* style */
    background: linear-gradient(to top, #ffff , #c9fffa, #8ffff6, #7ebcff);

    /* format */
    text-align: center;
    
    /* box-model */
    margin: -10px 0px 0px -10px;
    
    /* sizes */
    width: auto;
    height: 20%;
}
img.logo{
    /* box-model */
    margin-bottom: -10px;
    
    /* sizes */
    width: 500px;
    height: 173.61px;
}
.nav_bar{
    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* box-model */
    padding: 8px;
}
.nav_bar > li{
    /* fomatting */
    font-size: large;
    display: inline;

    /* box-model */
    margin: 10px 50px 10px;
}
li.active{
    /* box-model */
    border-bottom:2px solid black;
}

    /* Dropdown */
    ul li .dropdown {
        /* style */
        background: #ffff;
        list-style-type: none;
        visibility: hidden;
        opacity: 0;

        /* formatting */
        text-align: left;
        
        /* box-model*/
        padding: 0px;
        padding-top: 8px;
        
        /* positioning */
        position: absolute;

        /* animation */
        transition: opacity .5s ease-in-out;

        /* sizes */
        width: auto;
        height: auto;
    }
    .dropdown > li{
        padding-top: 12px;
    }
      
    ul li:hover > .dropdown,
    ul li:focus-within > .dropdown,
    ul li .dropdown:hover,
    ul li .dropdown:focus {
        visibility: visible;
        opacity: 1;
    }
    /* End Dropdown */

/* End Head content */

/* Body content */

    /* Sidebar */
        
        /* Sidebar Content */
        #mySidebar{
            /* formatting */
            text-align: center;
        }
        .text > p{
            /* formatting */
            text-align: left;

            /* box-model */
            margin: 16px;
        }
        .text > button{
            /* style */
            background: #4aa2ff;
	        color: inherit;
	        border: none;
	        font: inherit;
	        cursor: pointer;
	        outline: inherit;

            /* box-model */
            border-radius: 5px;
            padding: 4px;
            transition: .5s;
        }

        .text > button:hover,
        .text > button:focus,
        .text > button:focus-within{
            box-shadow: 2.5px 5px;
        }
        .text > button:active {
            transform: scale(1.3);
        }
        /* End */

    .sidebar{
        /* style */
        background: #7ebcff;
        overflow: hidden;
        transition: 0.5s;
        
        /* box */
        padding-top: 60px;
    
        /* positionig */
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    
        /* flex */
        display: flex;
        flex-direction: column;
    
        /* sizes */
        max-width: 500px;
        width: 0px;
        height: 100%;
    }
    .sidebar > p{
        /* box */
        margin: 15px;
        
        /* font */
        font-size:20px;
        text-align: center;
    }
    
    .btn{
        /* style */
        background-color: transparent;
        border: none;
        outline: none;
    
        /* positioning */
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 2;
    
        /* sizes */
        width: 40px;
        height: 40px;
    }
    .btn > .hamburger{
        /* style */
        cursor: pointer;

        /* positioning */
        position: fixed;
        top: 20px;
        left: 20px;
    
        /* sizes */
        width: 40px;
        height: 40px;
        transition: 1s;
    }
    .container {
        display: inline-block;
        cursor: pointer;
    }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    #main {
        /* style */
        transition: margin-left 0.5s;
    }
    /* End Sidebar */

    /* SlideShowBar */
    #slideshow{
        /* box-model */
        margin-top: 150px;

        /* flex */
        display: flex;
        justify-content: center;
    }
    .slider{
        /* format */
        text-align: center;
        
        /* overflow */
        overflow: hidden;
    
        /* sizes */
        width: 1310px;
    }
    .item{
        /* flex */
        display: flex;
    
        /* overflow */
        overflow-x: auto;
    
        /* scroll */
        scroll-snap-type: x mandatory; /* snap behavior */
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: auto;
    }
    .box {
        /* style */
        background-color: #ffff;
    
        /* box-model */
        margin: 0px 20px 0px 0px;
        border-radius: 16px;
    
        /* flex */
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-shrink: 1;
    
        /* scroll */
        scroll-snap-align: center;
    
        /* sizes */
        width: 420px;
        height: fit-content;
    }
    .box > p{
        /* format */
        text-align: left;
        
        /* box-model */
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;

        /* sizes */
        width: 400px;
        height: auto;
    }
    .box > a > .img{
        transition: .5s;
        /* box-model */
        margin-left: 10px;
        margin-right: 10px;

        /*sizes*/
        width: 100%;
        height: 100%;
    }
    
        /* Scrollbar */
        .item::-webkit-scrollbar{
            /* style */
            background: rgb(230, 230, 230);
        
            /* box-model */
            border-radius: 10px;
        
            /* sizes */
            width: 1260px;
            height: 10px;
        }
        .item::-webkit-scrollbar-thumb{
            /* sizes */
            background: #7ebcff;
        
            /* box-model */
            border-radius: 10px;
        }
        .item::-webkit-scrollbar-thumb:hover{
            background: #73ace9;
        }
        .item::-webkit-scrollbar-thumb:active{
            background: #5a87b8;
        }
        /* End Scrollbar */

    .box > a > .img:hover{
        /* style */
        
        opacity: .7;
    }
    /* End Paragraph*/

    /* Common Flex */
    .flex{
        /* box-model */
        margin-top: 150px;

        /* flex */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }
    .flex > div{
        margin: 25px;
    }
    /* End */

/* End Body content */

/* Return to top arrow */
#backtop{
    /* style */
    background-color: #7ebcff;
    cursor:pointer;
    transition: 0.75s ease;
    opacity: 0;

    /* format */
    font-size: 25px;

    /* box-model */
    border: none;
    border-radius: 50%;

    /* position */
    position: fixed;
    bottom: 80px;
    right: 100px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* sizes */
    width: 60px;
    height: 60px;
}
#backtop.visible{
    opacity: 1;
}

#backtop:hover{
    transform: rotate(360deg);
}
/* End */

/* Footer */
footer{
    /* style */
    background: linear-gradient(to bottom, #ffff 10%, #8ffff6, #7ebcff);

    /* box-model */
    margin-top: 300px;
    margin-left: -8px;
    margin-bottom: -8px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: relative;
    bottom: 0;
    right: 0;

    /* sizes */
    width: auto;
    height: 200px;
}
footer > p{
    padding-top: 32px;
    padding-left: 8px;
}
/* End */

/* Head pseudo-classes */
li > a:link, li > a:visited{
    text-decoration: none;
    color:black;
}
/* End */