
/*  Notes:  */
/*  - Positions order, Top Right Bottom Left
    - &ldquo; [...] &rdquo; = duoble quotes, &rsquo; = single quote
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


body{
    background-color: #c9fffa;
    /* format */
    font-family: 'Comfortaa', cursive;
    
    /* box-model */
    margin: 0px;

    /**/
    z-index: 1;

    /* sizes */
    width: auto;
    height: auto;
}

/* Head content */
.head{
    /* style */
    background: linear-gradient(to top, #c9fffa , #c9fffa, #8ffff6, #7ebcff);

    /* format */
    text-align: center;
    
    /* box-model */
    margin: -10px 0px 0px -10px;
    
    /* sizes */
    width: auto;
    height: 20%;
}
img.logo{
    /* box-model */
    margin-bottom: -10px;
    
    /* sizes */
    width: 500px;
    height: 173.61px;
}
.nav_bar{
    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* box-model */
    padding: 8px;
}
.nav_bar > li{
    /* fomatting */
    font-size: large;
    display: inline;

    /* box-model */
    margin: 10px 50px 10px;
}
li.active{
    text-decoration: none;
    color:black;
    border-bottom:2px solid black;
}
/* End Head content */

/* Body content */

    /* SlideShowBar */
    #slideshow{
        /* box-model */
        margin-top: 100px;

        /* flex */
        display: flex;
        justify-content: center;
    }
    .slider{
        /* format */
        text-align: center;
        
        /* overflow */
        overflow: hidden;
    
        /* sizes */
        width: 1380px;
    }
    .item{
        /* flex */
        display: flex;
    
        /* overflow */
        overflow-x: auto;
    
        /* scroll */
        scroll-snap-type: x mandatory; /* snap behavior */
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: auto;
    }
    .item > .box {
        /* style */
        background-color: #ecfcfa;
    
        /* box-model */
        margin: 0px 20px 10px 0px;
        border-radius: 16px;
    
        /* flex */
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-shrink: 1;
    
        /* scroll */
        scroll-snap-align: center;
    
        /* sizes */
        width: auto;
        height: 600px;
    }
    .box > p{
        /* format */
        text-align: left;
    
        /* box-model */
        padding: 20px;
        margin: 0px;
    
        /* sizes */
        width: 400px;
    }
    .box > .img{
        /* box-model */
        padding: 20px;
    
        /* sizes */
        width: 400px;
    }
    .img > img{
        /* sizes */
        width: 400px;
        height: 256px;
    }
    
        /* Scrollbar */
        .item::-webkit-scrollbar{
            /* style */
            background: rgb(230, 230, 230);
        
            /* box-model */
            border-radius: 10px;
        
            /* sizes */
            width: 1380px;
            height: 10px;
        }
        .item::-webkit-scrollbar-thumb{
            /* sizes */
            background: #7ebcff;
        
            /* box-model */
            border-radius: 10px;
        }
        /* End Scrollbar */

    /* End Paragraph*/

/* End Body content */

/* Return to top arrow */
#backtop{
    /* style */
    background-color: #7ebcff;
    cursor:pointer;
    transition: 0.75s ease;
    opacity: 0;

    /* format */
    font-size: 25px;

    /* box-model */
    border: none;
    border-radius: 50%;

    /* position */
    position: fixed;
    bottom: 80px;
    right: 100px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* sizes */
    width: 60px;
    height: 60px;
}
#backtop.visible{
    opacity: 1;
}

#backtop:hover{
    transform: rotate(360deg);
}
/* End */

/* Footer */
footer{
    /* style */
    background: linear-gradient(to bottom, #c9fffa 20%, #8ffff6, #7ebcff);

    /* box-model */
    margin-top: 100%;
    margin-left: -8px;
    margin-bottom: -8px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: relative;
    z-index: -1;

    /* sizes */
    width: auto;
    height: 200px;
}
footer > p{
    padding-top: 32px;
    padding-left: 8px;
}
/* End */

/* Head pseudo-classes */
li > a:link, li > a:visited{
    text-decoration: none;
    color:black;
}
li:hover, li:active{
    text-decoration: none;
    color:black;
    border-bottom:2px solid black;
}